.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 10px black;
}
.header{
    text-align: center;
}
.summary{
    text-align: left;

}
.education{
    text-align: left;

}
.experience{
text-align: left;
}
.skills{
    text-align: left;
}
.h1{
    margin-top: 5px;
    padding: 1rem;
    te
}
.p{
    margin-top:0% ;
    padding: 1rem;}
.h2{
    margin-top: 0%;
    padding: 1rem;
}
.ul{
    list-style: none;
}
.li{
    display: inline-block;
    margin-right: 10px;
}